<button> Request Invite </button>

<style>
	button {
    cursor: pointer;
		width: fit-content;
		padding: 12px 26px;
		color: var(--white);
		border-radius: 999px;
		background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
	}

	button:hover {
		opacity: 0.6;
	}
</style>
